{% extends "base.html" %}
{% block title %}<title>Guess game</title>{% endblock title %}
{% block header %}
    <p class="link"><a href="/profile">Profile</a></p>
    <p class="link"><a href="/users">Users</a></p>
    <p class="link"><a href="/score">Best score list</a></p>
{% endblock header %}

{% block content %}
<div class="container">
    <h1>Hello {{user}}</h1>
<p>Try to guess what's the secret number.</p>

<form method="post" action="/game">
    <label for="guess_number">Enter number beetween 1 and 30:</label>
    <input id="guess_number" name="number" type="number" min="1" max="30">
    <br>
    <button type="submit">Submit</button>
</form>

<h2>
    <a href="/">New Player</a>
</h2>
</div>

{% endblock content %}